.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: white;
    color: blaCK;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0px;
    z-index: 10;
}


.logo h1 {
    color: #4bbcc7;
    font-size: 32px;
}

.nav-list {
    list-style-type: none;
    grid-gap: 30px;
    margin: 0;
}



.nav-item {
    font-size: 18px;
}

.nav-item * {
    color: black;
    text-decoration: none;
}

.nav-item *:hover {
    color: rgb(224, 36, 36);
}

.sidebar {
    position: relative;
    z-index: 10;
}

.sidebar>* {
    padding: 0 16px;
    font-size: 30px;
}

.notifier {
    position: relative;
}

.dot {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 14px;
    padding: 2px;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: red;
}



.login-btn {
    border: 1px solid black;
    padding: 6px 12px;
    border-radius: 18px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 18px;
}

.login-btn:hover {
    color: black;
    background-color: white;
}


.fa-bars {
    transition: 0.5s linear;
}

.fa-bars:hover {
    transform: rotate(90deg);
}


.active {
    color: rgb(18, 154, 18);
}

.active:hover {
    color: rgb(18, 154, 18);
}


.hide {
    display: none;
}


.dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    list-style: none;
    font-size: 18px;
    text-align: right;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown .nav-item {
    display: none;
}


.dropdown li {
    background-color: black;
    color: white;
    padding: 2px 4px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #4b7a82;
}

@media only screen and (max-width: 900px) {
    .nav-list {
        display: none;
    }

    .dropdown .nav-item {
        display: block;
    }
}

@media only screen and (max-width: 550px) {
    .navbar {
        padding: 10px 20px;
    }

    .logo h1 {
        font-size: 28px;
    }

    .sidebar * {
        font-size: 22px;
    }

    .login-btn {
        font-size: 14px;
    }

    .dot {
        font-size: 10px;
    }

    /* .carousel{
    height: 200px;
  } */
}

@media only screen and (max-width: 400px) {
    .navbar {
        padding: 10px 18px;
    }

    .logo h1 {
        font-size: 26px;
    }

    .sidebar>* {
        font-size: 20px;
        /* padding: 0 14px; */
    }

    .login-btn {
        font-size: 12px;
    }

    .dot {
        font-size: 8px;
    }
}