.interviews{
    margin: 10px 15vw;
    background-color: white;
    border-radius: 8px;
    position: relative;
}

.interviews-container{
    padding: 10px 0;
}

.interviews h1{
    margin: 0 10px 10px;
    text-align: center;
}

.sent-request h1{
    position: fixed;
    top: 80px;
    background-color: white;
    text-align: center;
    
}

.interviews-cont{
    /* display: grid;
    grid-template-columns: 70% 30%; */
}

.interviews-list{
    /* border-right: 1px solid grey; */
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
}

.interview-item-container{
    padding: 10px;
    border: 2px solid #1265a8;
    margin: 10px 0;
    border-radius: 8px;
}

.interview-item {
    display: grid;
    grid-template-columns: 25% 75%;
    text-align: right;
    padding: 10px;
    border: 2px solid #1265a8;
    margin: 10px 0;
    border-radius: 8px;
}

.interviewer-head h2{
    margin: 0;
    font-size: 36px
}

.interviewer-head p{
    font-size: 20px;
}

.interview-item-profile{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interview-item .time-preference{
    text-align: left;
}


.interview-item-profile img {
    width: 100%;
    border-radius: 50%;
    margin: auto;
    border: 2px solid black;
    /* padding: 10px; */
}

.interview-item-info{
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interview-item-btns{
    justify-content: space-between;
}

.interviews .view-btn{
    /* display: inline-block; */
    border: 1px solid black;
    background-color: black;
    color: white;
    /* margin: 0 auto; */
    padding: 8px 6px;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}

.sent-request .view-btn{
    margin-top: 10px;
}

.view-btn:hover {
    background-color: white;
    color: black;
}


.details{
    align-items: flex-start;
}

.details p{
    text-align: center;
}

.request-sent-btn{
    display: block;
    margin: 10px 0;
    margin-left: auto;
    border: 1px solid rgb(87, 87, 87);
    background-color: rgb(87, 87, 87);
    color: white;
    padding: 4px 8px;
}

.request-sent-btn:hover{
    background-color: white;
    color: black;
}

/* .request-sent-btn:after{
    content: "Request Sent";
} */

/* .request-sent-btn:hover:after{
    content: "Cancel Request";
} */

.request-sent-btn:active{
    color: white;
    background-color: red;
    border-color: red;
}

.interviews-else{
    padding: 10px 20px;
}

.search-result-item-btns{
    position: relative;
}

.hide{
    display: none;
}

.cancel-dropdown{
    width: 20px;
    height: 34px;
    border-radius: 8px;
    border: 1px solid black;
}

.cancel-btn{
    position: relative;
    bottom: 0;
    right: 0;
    border: 2px solid black;
    padding: 4px 8px;
    border-radius: 8px;
    z-index: 5;
    background-color: white;
}