.hover-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.hover-animation:after {
  content: "";
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 47px;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
