.signup-professional  {
    position: fixed;
    z-index: 15;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

 .hide {
    display: none;
}

.signup-professional .login {
    background-color: white;
    position: relative;
    border-radius: 8px;
    max-width: 736px;

}

.signup-professional .cross {
    position: absolute;
    right: -20px;
    top: -40px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.signup-professional .cross:hover {
    color: rgb(255, 0, 0);
}

.signup-professional .login-head {
    background-color: #EFFFF4;
    color: #008A45;
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    padding: 17px 40px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}


.signup-professional .login-system {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.signup-professional .col {
    margin: 10px;
    padding: 0;
}

.signup-professional .login-system h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    padding: 5px 0 20px;
    margin-bottom: 40px;
}

.signup-professional .signin-btn {
    width: 100%;
    border: 1px solid #D9D9DB;
    font-family: 'IBM Plex Sans',
        sans-serif;
    background-color: white;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-professional .signin-btn:hover {
    background-color: #dbdbdb;
}

.signup-professional .signin-btn img {
    width: 14px;
    margin-right: 10px;
}


.signup-professional .login-image {
    text-align: right;
}

.signup-professional .login-image img {
    height: auto;
}


@media only screen and (max-width: 992px) {
    .signup-professional .login-image {
        display: none;
    }

    .signup-professional .login-head {
        display: none;
    }

    .signup-professional .cross {
        right: 10px;
        top: 10px;
        color: black;
    }
}